/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 nov. 2023, 20:05:07
    Author     : corre
*/
/* Estilo para el contenedor del formulario */
.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para el título */
h2 {
    text-align: center;
}

/* Estilo para etiquetas de campos de entrada */
label {
    display: block;
    margin-top: 10px;
}

/* Estilo para campos de entrada de texto */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para el botón de inicio de sesión */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #006eff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para el botón de inicio de sesión en estado hover */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para mensajes de error (puedes agregar estos elementos en tu HTML según tus necesidades) */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

